@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h1 {
    font-size: 30px;
    color: #333;
}

.container .content h1 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h2 {
    font-size: 50px;
    color: #333;
}

.container .content h2 span {
    color: crimson;
}

.container .content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover {
    background: crimson;
}

.form-container {
    background-image: url(https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.18169-9/1551689_606285616093104_1131404777_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH5Ez-xyg6QI-sYzUigf0pwKCBltegVZ_soIGW16BVn-6uhMgq7tyQdOJfASP8CuI1w__Y3-MQrECJqv12gVNDb&_nc_ohc=oZfG6owomNgAX_0JHhY&_nc_ht=scontent.fmnl3-1.fna&oh=00_AfCFyaqi6tqa_q3vd7TMm5SDBv01HZh96x_R3hWpFRQn2A&oe=6392660B);
    position: relative;
    min-height: 100vh;
    background-size: auto;
    margin-inline: 0px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: 0%;
}

.form-container form {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    background: rgba(255, 252, 252, 0.398);
    text-align: center;
    width: 500px;
}

.form-container form h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: rgb(20, 97, 220);
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: rgb(20, 117, 220);
    color: #fff;
}

.form-container form p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a {
    color: rgb(20, 113, 220);
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}